@font-face {
    font-family: 'MinecraftTen';
    src: url(fonts/Minecraft.otf);
}

body {
    font-family: "MinecraftTen";
    color: black;
}

.screenBox {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    position: absolute;
    text-align: right;
    display: flex;
    justify-content: right;
    font-family: 'MinecraftTen';
}

.tooltip {
    border-style: solid;
    border-color: white;
    background-color: rgba(32, 51, 82, 0.7);
    border-width: 2px;
    border-radius: 10px;
    width: 200px;
    height: 70px;
}

.logo {
    width: 200px;
    height: 200px;
    background-repeat: round;
    background-size: 100%;
    margin-left: 40%;
    z-index: 3;
    text-align: center;
    display: flex;
    justify-content: center;
}

.text {
    text-align: center;
    margin-top: 10px;
}

#block {
    color: white;
}

#mod {
    color: #0d6aff;
}